.spinner {
  border: 16px solid #27353b;
  border-top: 16px solid #141d21;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}